<div class="row">
  <div span="col-xs-12">
    <div ng-include="'views/ej5-template.html'"></div>
    <hr>
    <h4>Plantilla</h4>
    <div hljs include="'views/ej5-template.html'"></div>
    <h4>Controlador: scripts/controllers/ej5.js</h4>
    <div hljs include="'scripts/controllers/ej5.js'" language="javascript"></div>
    <h4>Directiva: scripts/directives/reloj3.js</h4>
    <div hljs include="'scripts/directives/reloj3.js'" language="javascript"></div>
    <h4>Plantilla: templates/reloj3.js</h4>
    <div hljs include="'templates/reloj3.html'"></div>
  </div>
</div>