<div class="row">
  <div span="col-xs-12">
    <div ng-include="'views/ej6-template.html'"></div>
    <hr>
    <h4>Plantilla</h4>
    <div hljs include="'views/ej6-template.html'"></div>
    <h4>Controlador: scripts/controllers/ej6.js</h4>
    <div hljs include="'scripts/controllers/ej6.js'" language="javascript"></div>
    <h4>Directiva: scripts/directives/rueda.js</h4>
    <div hljs include="'scripts/directives/rueda.js'" language="javascript"></div>
    <h4>Plantilla: templates/rueda.js</h4>
    <div hljs include="'templates/rueda.html'"></div>
  </div>
</div>