<div class="row">
  <div span="col-xs-12">
    <div ng-include="'views/ej7-template.html'"></div>
    <hr>
    <h4>Plantilla</h4>
    <div hljs include="'views/ej7-template.html'"></div>
    <h4>Controlador: scripts/controllers/ej7.js</h4>
    <div hljs include="'scripts/controllers/ej7.js'" language="javascript"></div>
    <h4>Directiva: scripts/directives/matryoshka.js</h4>
    <div hljs include="'scripts/directives/matryoshka.js'" language="javascript"></div>
    <h4>Plantilla: templates/matryoshka.html</h4>
    <div hljs include="'templates/matryoshka.html'"></div>
  </div>
</div>