<div class="row">
  <div span="col-xs-12">
    <div ng-include="'views/ej8-template.html'"></div>
    <hr>
    <h4>Plantilla</h4>
    <div hljs include="'views/ej8-template.html'"></div>
    <h4>Controlador: scripts/controllers/ej8.js</h4>
    <div hljs include="'scripts/controllers/ej8.js'" language="javascript"></div>
    <h4>Directiva: scripts/directives/simon.js</h4>
    <div hljs include="'scripts/directives/simon.js'" language="javascript"></div>
    <h4>Plantilla: templates/simon.html</h4>
    <div hljs include="'templates/simon.html'"></div>
    <h4>Servicio sonido: scripts/services/tones.js</h4>
    <div hljs include="'scripts/services/tones.js'"></div>
  </div>
</div>