<div class="row">
  <div span="col-xs-12">
    <div ng-include="'views/ej9-template.html'"></div>
    <hr>
    <h4>Plantilla</h4>
    <div hljs include="'views/ej9-template.html'"></div>
    <h4>Controlador: scripts/controllers/ej9.js</h4>
    <div hljs include="'scripts/controllers/ej9.js'" language="javascript"></div>
    <h4>Directiva: scripts/directives/primergrado.js</h4>
    <div hljs include="'scripts/directives/primergrado.js'" language="javascript"></div>
    <h4>Plantilla: templates/primergrado.html</h4>
    <div hljs include="'templates/primergrado.html'"></div>
    <h4>Servicio sonido: scripts/services/listen.js</h4>
    <div hljs include="'scripts/services/listen.js'"></div>
  </div>
</div>