<div class="row">
  <div span="col-xs-12">
    <h3>Introducción</h3>
    <p>Esta es una pequeña app con ejemplos para el meetup
      <a href="http://www.meetup.com/AngularJS_Madrid/events/164406982/">Directivas</a>
      del grupo <a href="http://www.meetup.com/AngularJS_Madrid/">AngularJS Madrid</a>.</p>
    <p>La presentación está disponible aquí:
        <a href="https://slid.es/gruizdevilla/directivas-angularjs/">https://slid.es/gruizdevilla/directivas-angularjs/</a>
    </p>
  </div>
</div>