
<p>
  <button ng-show="rotating" class="btn btn-danger" ng-click="toggle()">Parar</button>
  <button ng-hide="rotating" class="btn btn-success" ng-click="toggle()">Girar</button>
</p>
<div id="colorWheel" ng-class="{'rotating': rotating, 'stop': !rotating}">
  <span class="color01"></span>
  <span class="color02"></span>
  <span class="color03"></span>
  <span class="color04"></span>
  <span class="color05"></span>
  <span class="color06"></span>
  <span class="color07"></span>
  <span class="color08"></span>
  <span class="color09"></span>
  <span class="color10"></span>
</div>